<article class="page">
  <% if(page.title) { %>
  <h1 class="title"><%= page.title %></h1>
  <% } %>
  <div class="entry-content"><%- page.content %></div>
</article>
<% if(page.sharing) { %>
  <%- partial('_partial/post/sharing', {permalink:page.permalink}) %>
<% } %>
<%- partial('_partial/post/floating-buttons') %>
<% if(config.disqus_shortname && page.comments) { %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread')%></div>
</section>
<% } %>