<div class="profilepic">
  <img src="<%- config.root %>images/misc/serge.png" alt='Profile Picture' style='width: 160px;' />
</div><!-- profilepic -->
<h1><a href="<%- config.root %>"><%= config.author %></a></h1>
<nav id="main-nav">
<% if(config.description) { %>
  <section class="aboutme">
    <p><%- config.description %></p>
  </section>
<% } %>
  <ul class="main">
  <% for (var i in theme.menu.page) { %>
    <li>
      <a href="<%- config.root %><%- theme.menu.page[i] %>"><%= i %></a>
    </li>
  <% } %>
  </ul>
</nav><!-- main-nav -->
<nav id="sub-nav">
  <div class="social">
  <% if(theme.social.googleplus) { %>
    <a class="google" href="https://plus.google.com/<%- theme.googleplus.userid %>?rel=author" rel="author" title="Google+">Google+</a>
  <% } %>
  <% if(theme.social.twitter) { %>
    <a class="twitter" href="http://twitter.com/<%- theme.twitter.username %>" title="Twitter">Twitter</a>
  <% } %>
  <% if(theme.social.github) { %>
    <a class="github" href="http://github.com/<%- theme.github.username %>" title="Github">Github</a>
  <% } %>
  <% if(theme.social.youtube) { %>
    <a class="youtube" href="http://www.youtube.com/user/<%- theme.youtube.username %>" title="YouTube">YouTube</a>
  <% } %>
  <% if(theme.social.slides) { %>
    <a class="slides" href="http://slid.es/<%- theme.slides.username %>" title="Slides">Slides</a>
  <% } %>
  <% if(theme.social.feedly) { %>
    <a class="feedly" href="<%- theme.feedly.url %>" title="Feedly">Feedly</a>
  <% } %>
  <% if(theme.social.rss) { %>
    <a class="rss" href="<%- theme.rss.url %>" title="RSS">RSS</a>
  <% } %>
  </div>
</nav><!-- sub-nav -->