<% 
var html_classes = '';
if (page.permalink) html_classes = 'page-with-contents';
%>
<!DOCTYPE HTML>
<html class="<%- html_classes %>">
<head>
  <meta charset="utf-8">
<%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
%>
  <title><%= title.join(' | ') %></title>
<% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
<% } %>
<% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
<% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
<% } else if (config.description){ %>
  <meta name="description" content="<%= strip_html(config.description).replace(/^\s*/, '').replace(/\s*$/, '') %>">
<% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
<% } %>
<% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>">
<% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<% if (page.title){ %>
  <meta property="og:title" content="<%= page.title %>"/>
<% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>
<% if(page.cover) { %>
  <meta property="og:image" content="<%= page.cover %>" />
<% } else { %>
  <meta property="og:image" content="<%= config.cover %>"/>
<% } %>
  <link href="<%- config.root %>favicon.png" rel="icon">
<%
  var rss_link = "";
  if (theme.rss) rss_link = theme.rss;
  else rss_link = config.root + 'atom.xml';
%>
  <link rel="alternate" href="<%= rss_link %>" title="<%= config.title %>" type="application/atom+xml">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<% if (config.cookiecuttr.enabled || theme.cookiecuttr.enabled) { %>
  <link rel="stylesheet" href="<%- config.root %>css/vendor/cookiecuttr.css">
  <script type="text/javascript" src="<%- config.root %>js/jquery.cookie.js"></script>
  <script type="text/javascript" src="<%- config.root %>js/jquery.cookiecuttr.js"></script>
  <script>
    $(document).ready(function () {
      $.cookieCuttr({
        cookieAnalyticsMessage: '<%- theme.cookiecuttr.text %>',
        cookieWhatAreTheyLink: '<%- theme.cookiecuttr.help_site %>',
        cookieDeclineButton: true,
        cookieResetButton: false,
        cookieDomain: 'www.sergiolepore.net',
        cookieAcceptButtonText: 'Aceptar Cookies',
        cookieDeclineButtonText: 'Rechazar Cookies',
        cookieResetButtonText: 'Restablecer Cookies',
        cookieWhatAreLinkText: '¿Qué significa esto?'
      });

      //reset cookies
      $('#no-cookies-disqus a.cc-cookie-reset, .privacy-policy a.cc-cookie-reset').click(function (e) {
        e.preventDefault();
        $.cookie("cc_cookie_accept", null, {
          path: '/'
        });
        $.cookie("cc_cookie_decline", null, {
          path: '/'
        });
        
        location.reload();
      });
    });
  </script>
<% } %>
  <%- partial('google_analytics', null, {cache:true}) %>
<% if (theme.gist_embed) { %>
  <%- partial('gist_embed', null, {cache:true}) %>
<% } %>
</head>