<%
var postClasses = [];
var permalink = item.permalink;
postClasses.push('post');

if (index) {
    postClasses.push('index-post');
}
%>
<article class="<%- postClasses.join(' ') %>" itemscope itemtype="http://schema.org/BlogPosting">
  <a name="top"></a>
  <%- partial('article', {item: item, index: index})%>
  <div class="post-tags">
    <%- partial('post/tag', {type: "article"}) %>
  </div>
</article>
<% if(!index) { %>
  <%- partial('post/sharing', {permalink:permalink}) %>
  <%- partial('post/floating-buttons') %>
<% } %>
<% if(config.disqus_shortname && page.comments) { %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
  <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread')%></div>
</section>
<% } %>